<% include ../partials/header.html.ejs %>

<div id="content" class="container settings">

	<% if ( locals.message) {%><div style="color:red"><%= message%></div><%}%>

	<h1>Personal Information</h1>
	<ul class="list-unstyled">
		<li><a href="/account/password" class="btn-link">Change Password</a></li>
	</ul>
	<hr>
	<br>
	<form class="form" role="form" method="post" enctype="multipart/form-data">

		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-4">
				<div class="form-group">
				    <label>Profile photo</label>
				    <% if (user.photo) { %>
				    	<div id="profile-photo">
					    	<img src="<%= user.photo+'?dim=200x200' %>" class="img-thumbnail img-responsive" />
					    	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					    </div>
					<%} else { %>
						<input type="file" name="photo">
					<% } %>
				</div>
			</div>

			<div class="col-md-5 col-sm-8 col-xs-8">
				<div class="form-group">
				    <label for="firstname" class="">First Name</label>
				    <input type="text" class="form-control" name="firstname" placeholder="First Name" value="<%= user.firstname ? user.firstname : '' %>">
				</div>

				<div class="form-group">
				    <label for="lastname" class="">Last Name</label>
				    <input type="text" class="form-control" name="lastname" placeholder="Last Name" value="<%= user.lastname ? user.lastname : '' %>">
				</div>
			</div>

			<div class="col-md-5 col-sm-8 col-xs-12">
				<% if (user.usertype === "Company") { %>
				<div class="form-group">
				    <label for="company" class="">Company Name</label>
				    <input type="text" class="form-control" name="company" placeholder="Company Name" value="<%= user.company ? user.company : '' %>">
				</div>
				<% } %>

				<div class="form-group">
				    <label for="email" class="">Email</label>
				    <input type="text" class="form-control" name="email" placeholder="Email" value="<%= user.email ? user.email : '' %>">
				</div>
				<div class="form-group">
				    <label for="phone" class="">Phone</label>
				    <input type="text" class="form-control" name="number" placeholder="Phone" value="<%= user.number ? user.number : '' %>">
				</div>
				<div class="form-group">
				    <label for="website" class="">Website</label>
				    <input type="text" class="form-control" name="website" placeholder="Website" value="<%= user.website ? user.website : '' %>">
				</div>
			</div>
		</div>

		<% if (user.usertype === "Company") { %>
		<div class="row">
			<div class="col-md-10 col-md-offset-2">
				<div class="form-group">
                    <label for="problem" class="control-label">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="20"><%= user.description ? user.description : '' %></textarea>
                </div>
			</div>
		</div>
		<% } %>

		<hr class="divider">
	    <h3>Location</h3>
	    <div class="row" >
	        <div class="col-md-6" id="add-input-section">

	            <h4>Add new address</h4>
	            <div class="row">
		            <div class="form-group col-md-10">
			            <label for="street">Street</label>
			            <input type="text" name="loc_street" id="loc_street" class="form-control">
		            </div>

		            <div class="form-group col-md-2">
			            <label>Suite/Apt</label>
			            <input type="text" name="loc_suite" id="loc_suite" class="form-control">
		            </div>
	            </div>

	            <div class="row">
		            <div class="form-group col-md-5">
		            	<label>City</label>
						<input type="text" name="loc_city" id="loc_city" class="form-control">
		            </div>

		            <div class="form-group col-md-7">
		            	<label>Country</label>

						<select name="loc_country" id="loc_country" class="form-control">
							<option value="" selected="selected">Select Country</option>
							<option value="Afghanistan">Afghanistan</option>
							<option value="Albania">Albania</option>
							<option value="Algeria">Algeria</option>
							<option value="American Samoa">American Samoa</option>
							<option value="Andorra">Andorra</option>
							<option value="Angola">Angola</option>
							<option value="Anguilla">Anguilla</option>
							<option value="Antarctica">Antarctica</option>
							<option value="Antigua and Barbuda">Antigua and Barbuda</option>
							<option value="Argentina">Argentina</option>
							<option value="Armenia">Armenia</option>
							<option value="Aruba">Aruba</option>
							<option value="Australia">Australia</option>
							<option value="Austria">Austria</option>
							<option value="Azerbaijan">Azerbaijan</option>
							<option value="Bahamas">Bahamas</option>
							<option value="Bahrain">Bahrain</option>
							<option value="Bangladesh">Bangladesh</option>
							<option value="Barbados">Barbados</option>
							<option value="Belarus">Belarus</option>
							<option value="Belgium">Belgium</option>
							<option value="Belize">Belize</option>
							<option value="Benin">Benin</option>
							<option value="Bermuda">Bermuda</option>
							<option value="Bhutan">Bhutan</option>
							<option value="Bolivia">Bolivia</option>
							<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
							<option value="Botswana">Botswana</option>
							<option value="Bouvet Island">Bouvet Island</option>
							<option value="Brazil">Brazil</option>
							<option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
							<option value="Brunei Darussalam">Brunei Darussalam</option>
							<option value="Bulgaria">Bulgaria</option>
							<option value="Burkina Faso">Burkina Faso</option>
							<option value="Burundi">Burundi</option>
							<option value="Cambodia">Cambodia</option>
							<option value="Cameroon">Cameroon</option>
							<option value="Canada">Canada</option>
							<option value="Cape Verde">Cape Verde</option>
							<option value="Cayman Islands">Cayman Islands</option>
							<option value="Central African Republic">Central African Republic</option>
							<option value="Chad">Chad</option>
							<option value="Chile">Chile</option>
							<option value="China">China</option>
							<option value="Christmas Island">Christmas Island</option>
							<option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
							<option value="Colombia">Colombia</option>
							<option value="Comoros">Comoros</option>
							<option value="Congo">Congo</option>
							<option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
							<option value="Cook Islands">Cook Islands</option>
							<option value="Costa Rica">Costa Rica</option>
							<option value="Cote D'ivoire">Cote D'ivoire</option>
							<option value="Croatia">Croatia</option>
							<option value="Cuba">Cuba</option>
							<option value="Cyprus">Cyprus</option>
							<option value="Czech Republic">Czech Republic</option>
							<option value="Denmark">Denmark</option>
							<option value="Djibouti">Djibouti</option>
							<option value="Dominica">Dominica</option>
							<option value="Dominican Republic">Dominican Republic</option>
							<option value="Ecuador">Ecuador</option>
							<option value="Egypt">Egypt</option>
							<option value="El Salvador">El Salvador</option>
							<option value="Equatorial Guinea">Equatorial Guinea</option>
							<option value="Eritrea">Eritrea</option>
							<option value="Estonia">Estonia</option>
							<option value="Ethiopia">Ethiopia</option>
							<option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
							<option value="Faroe Islands">Faroe Islands</option>
							<option value="Fiji">Fiji</option>
							<option value="Finland">Finland</option>
							<option value="France">France</option>
							<option value="French Guiana">French Guiana</option>
							<option value="French Polynesia">French Polynesia</option>
							<option value="French Southern Territories">French Southern Territories</option>
							<option value="Gabon">Gabon</option>
							<option value="Gambia">Gambia</option>
							<option value="Georgia">Georgia</option>
							<option value="Germany">Germany</option>
							<option value="Ghana">Ghana</option>
							<option value="Gibraltar">Gibraltar</option>
							<option value="Greece">Greece</option>
							<option value="Greenland">Greenland</option>
							<option value="Grenada">Grenada</option>
							<option value="Guadeloupe">Guadeloupe</option>
							<option value="Guam">Guam</option>
							<option value="Guatemala">Guatemala</option>
							<option value="Guinea">Guinea</option>
							<option value="Guinea-bissau">Guinea-bissau</option>
							<option value="Guyana">Guyana</option>
							<option value="Haiti">Haiti</option>
							<option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
							<option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
							<option value="Honduras">Honduras</option>
							<option value="Hong Kong">Hong Kong</option>
							<option value="Hungary">Hungary</option>
							<option value="Iceland">Iceland</option>
							<option value="India">India</option>
							<option value="Indonesia">Indonesia</option>
							<option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
							<option value="Iraq">Iraq</option>
							<option value="Ireland">Ireland</option>
							<option value="Israel">Israel</option>
							<option value="Italy">Italy</option>
							<option value="Jamaica">Jamaica</option>
							<option value="Japan">Japan</option>
							<option value="Jordan">Jordan</option>
							<option value="Kazakhstan">Kazakhstan</option>
							<option value="Kenya">Kenya</option>
							<option value="Kiribati">Kiribati</option>
							<option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
							<option value="Korea, Republic of">Korea, Republic of</option>
							<option value="Kuwait">Kuwait</option>
							<option value="Kyrgyzstan">Kyrgyzstan</option>
							<option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
							<option value="Latvia">Latvia</option>
							<option value="Lebanon">Lebanon</option>
							<option value="Lesotho">Lesotho</option>
							<option value="Liberia">Liberia</option>
							<option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
							<option value="Liechtenstein">Liechtenstein</option>
							<option value="Lithuania">Lithuania</option>
							<option value="Luxembourg">Luxembourg</option>
							<option value="Macao">Macao</option>
							<option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
							<option value="Madagascar">Madagascar</option>
							<option value="Malawi">Malawi</option>
							<option value="Malaysia">Malaysia</option>
							<option value="Maldives">Maldives</option>
							<option value="Mali">Mali</option>
							<option value="Malta">Malta</option>
							<option value="Marshall Islands">Marshall Islands</option>
							<option value="Martinique">Martinique</option>
							<option value="Mauritania">Mauritania</option>
							<option value="Mauritius">Mauritius</option>
							<option value="Mayotte">Mayotte</option>
							<option value="Mexico">Mexico</option>
							<option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
							<option value="Moldova, Republic of">Moldova, Republic of</option>
							<option value="Monaco">Monaco</option>
							<option value="Mongolia">Mongolia</option>
							<option value="Montserrat">Montserrat</option>
							<option value="Morocco">Morocco</option>
							<option value="Mozambique">Mozambique</option>
							<option value="Myanmar">Myanmar</option>
							<option value="Namibia">Namibia</option>
							<option value="Nauru">Nauru</option>
							<option value="Nepal">Nepal</option>
							<option value="Netherlands">Netherlands</option>
							<option value="Netherlands Antilles">Netherlands Antilles</option>
							<option value="New Caledonia">New Caledonia</option>
							<option value="New Zealand">New Zealand</option>
							<option value="Nicaragua">Nicaragua</option>
							<option value="Niger">Niger</option>
							<option value="Nigeria">Nigeria</option>
							<option value="Niue">Niue</option>
							<option value="Norfolk Island">Norfolk Island</option>
							<option value="Northern Mariana Islands">Northern Mariana Islands</option>
							<option value="Norway">Norway</option>
							<option value="Oman">Oman</option>
							<option value="Pakistan">Pakistan</option>
							<option value="Palau">Palau</option>
							<option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
							<option value="Panama">Panama</option>
							<option value="Papua New Guinea">Papua New Guinea</option>
							<option value="Paraguay">Paraguay</option>
							<option value="Peru">Peru</option>
							<option value="Philippines">Philippines</option>
							<option value="Pitcairn">Pitcairn</option>
							<option value="Poland">Poland</option>
							<option value="Portugal">Portugal</option>
							<option value="Puerto Rico">Puerto Rico</option>
							<option value="Qatar">Qatar</option>
							<option value="Reunion">Reunion</option>
							<option value="Romania">Romania</option>
							<option value="Russian Federation">Russian Federation</option>
							<option value="Rwanda">Rwanda</option>
							<option value="Saint Helena">Saint Helena</option>
							<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
							<option value="Saint Lucia">Saint Lucia</option>
							<option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
							<option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
							<option value="Samoa">Samoa</option>
							<option value="San Marino">San Marino</option>
							<option value="Sao Tome and Principe">Sao Tome and Principe</option>
							<option value="Saudi Arabia">Saudi Arabia</option>
							<option value="Senegal">Senegal</option>
							<option value="Serbia and Montenegro">Serbia and Montenegro</option>
							<option value="Seychelles">Seychelles</option>
							<option value="Sierra Leone">Sierra Leone</option>
							<option value="Singapore">Singapore</option>
							<option value="Slovakia">Slovakia</option>
							<option value="Slovenia">Slovenia</option>
							<option value="Solomon Islands">Solomon Islands</option>
							<option value="Somalia">Somalia</option>
							<option value="South Africa">South Africa</option>
							<option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
							<option value="Spain">Spain</option>
							<option value="Sri Lanka">Sri Lanka</option>
							<option value="Sudan">Sudan</option>
							<option value="Suriname">Suriname</option>
							<option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
							<option value="Swaziland">Swaziland</option>
							<option value="Sweden">Sweden</option>
							<option value="Switzerland">Switzerland</option>
							<option value="Syrian Arab Republic">Syrian Arab Republic</option>
							<option value="Taiwan, Province of China">Taiwan, Province of China</option>
							<option value="Tajikistan">Tajikistan</option>
							<option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
							<option value="Thailand">Thailand</option>
							<option value="Timor-leste">Timor-leste</option>
							<option value="Togo">Togo</option>
							<option value="Tokelau">Tokelau</option>
							<option value="Tonga">Tonga</option>
							<option value="Trinidad and Tobago">Trinidad and Tobago</option>
							<option value="Tunisia">Tunisia</option>
							<option value="Turkey">Turkey</option>
							<option value="Turkmenistan">Turkmenistan</option>
							<option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
							<option value="Tuvalu">Tuvalu</option>
							<option value="Uganda">Uganda</option>
							<option value="Ukraine">Ukraine</option>
							<option value="United Arab Emirates">United Arab Emirates</option>
							<option value="United Kingdom">United Kingdom</option>
							<option value="United States">United States</option>
							<option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
							<option value="Uruguay">Uruguay</option>
							<option value="Uzbekistan">Uzbekistan</option>
							<option value="Vanuatu">Vanuatu</option>
							<option value="Venezuela">Venezuela</option>
							<option value="Viet Nam">Viet Nam</option>
							<option value="Virgin Islands, British">Virgin Islands, British</option>
							<option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
							<option value="Wallis and Futuna">Wallis and Futuna</option>
							<option value="Western Sahara">Western Sahara</option>
							<option value="Yemen">Yemen</option>
							<option value="Zambia">Zambia</option>
							<option value="Zimbabwe">Zimbabwe</option>
						</select>
		            </div>
		            <!--<div class="form-group col-md-4">

						<label>State</label>
			            <input type="text" name="loc_state" id="loc_state" class="form-control">
		            </div>-->
		            <!--<div class="form-group col-md-3">
			            <label>Zip Code</label>
						<input type="text" name="loc_zip" id="loc_zip" class="form-control">
		            </div>-->
	            </div>

	            <div class="row">
					<div class="form-group col-md-4">
			            <label>&nbsp;</label>
			            <a class="form-control btn btn-success" id="btn-addaddr">
							Verify Address <span class='glyphicon glyphicon-arrow-right'></span>
			            </a>
		            </div>
		        </div>
	        </div>

			<div class="col-md-6">
		        <div class="list-group suggested"></div>
			</div>

	        <div class="col-md-6">
	            <h4>Saved addresses</h4>
	            <div class="list-group" id="save_addr">
					<% user.locations.forEach(function(element, index, array) { %>
					<a class="list-group-item">
						<input type="hidden" name="locations" value="<%= JSON.stringify(element) %>"/>
						<% if ((element.street === "") && (element.suite === "")) { %>

						<% } else if ((element.street !== "") && (element.suite !== "")) { %>
							<h4 class="list-group-item-heading"><%= element.street %><%= ", "+element.suite %></h4>
						<% } else if ((element.street !== "") && (element.suite === "")) { %>
							<h4 class="list-group-item-heading"><%= element.street %></h4>
						<% } %>
						<p class="list-group-item-text"><%= element.city %>, <!--<%= element.state %> <%= element.zip %>,--> <%= element.country %></p>
						<span onclick="onAddressRemove(this)" class="glyphicon glyphicon-remove-circle addr-remove"></span>
					</a>
					<% }); %>
				</div>
	        </div>
	    </div>

		<hr class="divider">
		<div class="row">
			<div class="form-group">
		    	<div class="col-sm-offset-8 col-sm-4">
			      <button type="submit" class="btn btn-primary form-control input-lg">Save Changes</button>
			    </div>
			</div>
		</div>

	</form>

</div><!-- container -->

<% include ../partials/footer-menu.html.ejs %>

<!--<script src="/assets/components/chosen/chosen.jquery.min.js"></script>-->
<script src="/assets/javascript/redactor.js"></script>
<script src="/assets/components/handlebars/handlebars.min.js"></script>
<script src="/assets/javascript/formValidation.min.js" type="text/javascript"></script>
<script src="/assets/javascript/bootstrap.min.js" type="text/javascript"></script>
<script>

var onAddressRemove = '';

$(function(){

	//$('.chzn-select').chosen({no_results_text: 'No results matched'});

	$('#description').redactor({
		minHeight: 300 // pixels
	});

	$('#profile-photo .close').click(function(){
		$('#profile-photo').html('<input type="file" name="photo">');
	})

	// Account Settings

	$('[name="usertype"]').change(function(){
		var skills = [];
		$('#options-loading').show();
		$('#skills input:checked').each(function() {
	        skills.push(this.value);
	    });
		$.get('/ajax/options',
        	{'professions': $(this).val(), 'specialization': $('[name="specialization"]').val(), 'skills': skills},
            function(data, status){
	            data = JSON.parse(data);
	            $('#specialization select').html(data.specializations);
	            $('#specialization select').trigger('chosen:updated');
				$('#skills').html(data.skills);
				$('#options-loading').hide();
		 });

	});

	$("#btn-changepassword").click(function(){
		if ($('[name="newpassword"]').val() == $('[name="confirmpassword"]').val()) {
			$.post('/ajax/changepassword', {newpassword: $('[name="newpassword"]').val(),
				confirmpassword: $('[name="confirmpassword"]').val(),
				oldpassword: $('[name="oldpassword"]').val()})
			.success(function(data){
				data = JSON.parse(data);
				$('#password-section').find('input').val('');
				$('#pwd_msg').fadeIn();
				//$('#pwd_msg').html(data.1]);
				if (data.error){
					$('#pwd_msg').html(data.error);
					$('#pwd_msg').addClass('bg-danger');
					$('#pwd_msg').removeClass('bg-success');
				}else{
					$('#pwd_msg').html(data.success);
					$('#pwd_msg').removeClass('bg-danger');
					$('#pwd_msg').addClass('bg-success');
				}
			});
		} else {
			$('#pwd_msg').fadeIn();
			$('#pwd_msg').addClass('bg-danger');
			$('#pwd_msg').removeClass('bg-success');
			$('#pwd_msg').html("Your new password does not match.");
		}
	});



	onAddressRemove = function(el){
		$(el).parents('a.list-group-item').remove();
	};

	//suggested address clicked
	onAddressAdd = function(el){
		$selection = $(el).parent('a.list-group-item').children('input');
		data = $selection.val();
		//console.log(data);
		obj = jQuery.parseJSON(data);
		//console.log(obj);
		obj.addr = data;
		obj.country_text = $("#loc_country :selected").text();
		$('#save_addr').append(template(obj));
		$('#add-input-section input').val("");
		$(el).parent().parent().empty('.suggested');

	};

	//var statedata = {{json_encode($state_list)}};
	/*var states = new Bloodhound({
	  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
	  queryTokenizer: Bloodhound.tokenizers.whitespace,
	  // `states` is an array of state names defined in "The Basics"
	  local: $.map(statedata, function(state) { return { value: state }; })
	});

	// kicks off the loading/processing of `local` and `prefetch`
	states.initialize();

	var makeAutoComplete = function(){
		$('#loc_state').typeahead({
			  hint: true,
			  highlight: true,
			  minLength: 1
			},
			{
			  name: 'states',
			  displayKey: 'value',
			  // `ttAdapter` wraps the suggestion engine in an adapter that
			  // is compatible with the typeahead jQuery plugin
			  source: states.ttAdapter()
			});
	}


	$('#loc_country').change(function(e){
		$('#loc_state').typeahead('destroy');
		$('#loc_state').val('');
		if ( $(this).val() == "US"){
			makeAutoComplete();
		}else{

		}
	});

	makeAutoComplete();*/

	var template = Handlebars.compile($('#tmpl_save_addr').html());

	$('#btn-addaddr').click(function(){
		//User input address object
		data = {
			street: $('#loc_street').val().trim(),
			suite: $('#loc_suite').val().trim(),
			city: $('#loc_city').val().trim(),
			/*zip: $('#loc_zip').val().trim(),
			state: $('#loc_state').val().trim(),*/
			country: $('#loc_country').val().trim()
		}
		data.addr = JSON.stringify(data);

		data.country_text = $("#loc_country :selected").text();

		//---------------------Address Verification via Google Maps API-------------------//
		 street = data['street'].replace(/ /g, '+');
		 suite = data['suite'].toLowerCase().replace(/\b[a-z]/g, function(letter) {
		    		return letter.toUpperCase();
				});
		 city = data['city'].replace(/ /g, '+');
		 //zip = data['zip'].replace(/ /g, '+');
		 //state = data['state'].replace(/ /g, '+');
		 country = data['country'].replace(/ /g, '+');
		 address = street +  "+" +  city + "+"/* + state + "+" + zip +  "+"*/ +country;

		var url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false";

		//clean up suggested div
		$('.suggested').empty();

		//retrieve response
		$.ajax({
        url: url,
            dataType: 'json',
            cache: false,
	        success: function (data) {
	        	suggested = '';
	             for (i = 0; i < data.results.length; i++) {
	            components =  data.results[i].address_components;
	          //  alert(data.results[i].formatted_address);
	            var street_num = '';
	            var street_name = '';
	            var city = '';
	            var state = '';
	            var country = '';
	            var zip = '';
	            var lat = '';
	            var lng = '';
				//console.log(data.status);
				//console.log(data.results[i]);
				if (data.status == 'OK') {
					//go through data results to retrive address info for each match
					$.each(data.results[i], function(index, value) {

		            	if (jQuery.type(value) === "object" || $.isArray(value)) {
			            	$.each(value, function(index2, value2){

			            		if(jQuery.type(value2) === "object" || $.isArray(value2)){
			            			$.each(value2, function(index3, val3) {

					            		if (val3 == 'street_number') { street_num = data.results[i][index][index2]['long_name'];}
					            		if (val3 == 'route') { street_name = data.results[i][index][index2]['long_name'];}
					            		if (val3 == 'sublocality_level_1,sublocality,political') { city = data.results[i][index][index2]['long_name'];}
					            		if (val3 == 'locality,political') { city = data.results[i][index][index2]['long_name'];}
					            		if (val3 == 'administrative_area_level_1,political') { state = data.results[i][index][index2]['long_name'];}
					            		if (val3 == 'country,political') {
					            			country = data.results[i][index][index2]['short_name'];
					            			country_long = data.results[i][index][index2]['long_name'];
					            		}
					            		if (val3 == 'postal_code') { zip = data.results[i][index][index2]['long_name'];}

		            					if (index3 == 'lat') { lat = data.results[i][index][index2]['lat'];}
		            					if (index3 == 'lng') { lng = data.results[i][index][index2]['lng'];}

			            			});
			            		}
			            	});
			            }
					});
					//match(es) address object
					if (street_num && street_name) {
						var street = street_num + " " + street_name;
					} else {
						var street = "";
					}


		            addr = {
		            	street: street,
						suite: suite,
						city: city,
						/*zip: zip,
						state: state,*/
						country: country_long,
						lat: lat,
						lng: lng
		            }
		            //List match(es) for user to select from
		           	if ($.isEmptyObject(suite)) {} else{suite = " " + suite;}
		           	suggested = suggested +  "<a class='list-group-item'><input type='hidden' name='temp_location[]' value='" + JSON.stringify(addr) + "' /><h4 class='list-group-item-heading'>"
		           						+ street + suite + "</h4><p class='list-group-item-text'>"
		           						+ city + ", "/* + state + " " + zip + ", "*/ + country_long
		           						+ "</p><span class='addr-add' onclick='onAddressAdd(this)'><span class='glyphicon glyphicon-ok-circle'></span> Select</span></a>";

				}//end if status code = OK
				else{
					suggested = 'No Matches found!';
				}

	        };
	        $('div.suggested').append('<h4>Please choose your address</h4>' + suggested);
	        },
	        error: function (e) {
	            //console.log(e.message);
	             $('div.suggested').append('<h4>Suggested Address</h4>' + 'No Matches Found');
	        }
		});


		//-----------------------------------------------------------//

		isvalid = ""; // valid check
		if ( true || isvalid)
		{
	      //$('div.list-group').append(template(data));
	    }

    	//$('#add-input-section input').val("");
	});

});
</script>

<script type="text/x-hbs" id="tmpl_save_addr">
	<a class="list-group-item">
		<input type="hidden" name="locations" value='{{addr}}'/>
	    <h4 class="list-group-item-heading">{{street}} {{suite}}</h4>
	    <p class="list-group-item-text">{{city}}, <!--{{state}} {{zip}},--> {{country}}</p>
	    <span class="glyphicon glyphicon-remove-circle addr-remove" onclick='onAddressRemove(this)'></span>
	</a>
</script>

<% include ../partials/footer.html.ejs %>